/AskMyFriends/.idea/
/AskMyFriends/.gradle
/AskMyFriends/local.properties
/AskMyFriends/.idea/workspace.xml
/AskMyFriends/.idea/libraries
/AskMyFriends/.DS_Store
/AskMyFriends/build
/AskMyFriends/app/build
AskMyFriends/.idea/*
